<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div class="container">
    <div class="content">
        <h3>Recent posts</h3>
        <hr>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>