{% extends 'base.html' %}
{% block content %}
    {% for index, link, title, desc, date, author in data %}
    <p>
        {{ index }}. <a href="{{ link }}">{{ title }}</a> &mdash; {{ date }} &mdash; {{ author }}
        <ul class="description">
            <li>
                <span>{{ desc }}</span>
            </li>
        </ul>

    </p>
    {% endfor %}
{% endblock %}